<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-19}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{122,613},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-19}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{114,74}</string>
                <key>textureRect</key>
                <string>{{378,606},{114,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-19}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{114,74}</string>
                <key>textureRect</key>
                <string>{{378,682},{114,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-1}</string>
                <key>spriteSize</key>
                <string>{136,245}</string>
                <key>spriteSourceSize</key>
                <string>{136,245}</string>
                <key>textureRect</key>
                <string>{{282,0},{136,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-1}</string>
                <key>spriteSize</key>
                <string>{136,245}</string>
                <key>spriteSourceSize</key>
                <string>{136,245}</string>
                <key>textureRect</key>
                <string>{{0,249},{136,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-1}</string>
                <key>spriteSize</key>
                <string>{136,245}</string>
                <key>spriteSourceSize</key>
                <string>{136,245}</string>
                <key>textureRect</key>
                <string>{{142,247},{136,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{138,245}</string>
                <key>spriteSourceSize</key>
                <string>{138,245}</string>
                <key>textureRect</key>
                <string>{{142,0},{138,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-2}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{280,487},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-2}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{280,368},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-2}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{0,496},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-2}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{138,494},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-17}</string>
                <key>spriteSize</key>
                <string>{116,78}</string>
                <key>spriteSourceSize</key>
                <string>{116,78}</string>
                <key>textureRect</key>
                <string>{{260,606},{116,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-1}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{122,119}</string>
                <key>textureRect</key>
                <string>{{280,247},{122,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{140,247}</string>
                <key>spriteSourceSize</key>
                <string>{140,247}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameMode.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3be49f61e028027064a06b3d46fd5da:4f7deacf8ddb8d9cc7efc501b1c211fe:6d5bffbc21d57cbd4f1283f701cb994c$</string>
            <key>textureFileName</key>
            <string>GameMode.png</string>
        </dict>
    </dict>
</plist>
