<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gearBuy_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{32,229},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gearBuy_btn2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{84,229},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{264,220},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{300,220},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{309,186},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{336,220},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{372,218},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{408,217},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{421,175},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.466667}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{343,186},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.53125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{273,186},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{359,133},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{379,175},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{401,133},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_so</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{0,229},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gears_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,227}</string>
                <key>spriteSourceSize</key>
                <string>{262,227}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screwBar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,85}</string>
                <key>spriteSourceSize</key>
                <string>{7,85}</string>
                <key>textureRect</key>
                <string>{{264,133},{7,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screwMask</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,131}</string>
                <key>spriteSourceSize</key>
                <string>{160,131}</string>
                <key>textureRect</key>
                <string>{{264,0},{160,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>value_1000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,51}</string>
                <key>spriteSourceSize</key>
                <string>{41,51}</string>
                <key>textureRect</key>
                <string>{{273,133},{41,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>value_500</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,51}</string>
                <key>spriteSourceSize</key>
                <string>{41,51}</string>
                <key>textureRect</key>
                <string>{{316,133},{41,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Gears.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211503e0bdc0cea97608d1893d403592:bca8c07634627fd3d99c46857df7ffbb:1ccb2410472efbd3e747029860685c16$</string>
            <key>textureFileName</key>
            <string>Gears.png</string>
        </dict>
    </dict>
</plist>
