<!--
	Sprite sheet data for Naruto Senki - V2.

	https://game.naruto.re
-->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
	<key>avator1</keys>
	<dict>
		<key>frame</key><string>{{783,0},{241,220}}</string>
		<key>offset</key><string>{35,-23}</string>
		<key>sourceSize</key><string>{311,265}</string>
	</dict>
	<key>avator2</keys>
	<dict>
		<key>frame</key><string>{{726,222},{298,246}}</string>
		<key>offset</key><string>{7,-10}</string>
		<key>sourceSize</key><string>{311,265}</string>
	</dict>
	<key>avator3</keys>
	<dict>
		<key>frame</key><string>{{0,151},{291,232}}</string>
		<key>offset</key><string>{10,-17}</string>
		<key>sourceSize</key><string>{311,265}</string>
	</dict>
	<key>avator4</keys>
	<dict>
		<key>frame</key><string>{{413,80},{311,244}}</string>
		<key>offset</key><string>{0,-11}</string>
		<key>sourceSize</key><string>{311,265}</string>
	</dict>
	<key>btm_text</keys>
	<dict>
		<key>frame</key><string>{{0,573},{164,30}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{164,30}</string>
	</dict>
	<key>cloud</keys>
	<dict>
		<key>frame</key><string>{{562,444},{144,128}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{144,128}</string>
	</dict>
	<key>confirm_bg</keys>
	<dict>
		<key>frame</key><string>{{366,344},{194,130}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{194,130}</string>
	</dict>
	<key>confirm_title</keys>
	<dict>
		<key>frame</key><string>{{293,178},{115,18}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{115,18}</string>
	</dict>
	<key>credits01</keys>
	<dict>
		<key>frame</key><string>{{413,0},{368,78}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{368,78}</string>
	</dict>
	<key>credits02</keys>
	<dict>
		<key>frame</key><string>{{0,0},{411,149}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{411,149}</string>
	</dict>
	<key>gold_left</keys>
	<dict>
		<key>frame</key><string>{{179,449},{164,170}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{164,170}</string>
	</dict>
	<key>gold_right</keys>
	<dict>
		<key>frame</key><string>{{0,385},{177,186}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{177,186}</string>
	</dict>
	<key>hcmode_title</keys>
	<dict>
		<key>frame</key><string>{{614,326},{66,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{66,19}</string>
	</dict>
	<key>input_bg</keys>
	<dict>
		<key>frame</key><string>{{293,151},{115,25}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{115,25}</string>
	</dict>
	<key>input_bg2</keys>
	<dict>
		<key>frame</key><string>{{293,198},{114,18}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{114,18}</string>
	</dict>
	<key>loading_title</keys>
	<dict>
		<key>frame</key><string>{{293,218},{109,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{109,19}</string>
	</dict>
	<key>login_btn</keys>
	<dict>
		<key>frame</key><string>{{726,101},{48,49}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{48,49}</string>
	</dict>
	<key>login_btn1</keys>
	<dict>
		<key>frame</key><string>{{293,365},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
	<key>login_btn2</keys>
	<dict>
		<key>frame</key><string>{{345,476},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
	<key>menu01</keys>
	<dict>
		<key>frame</key><string>{{562,394},{151,48}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{151,48}</string>
	</dict>
	<key>menu02</keys>
	<dict>
		<key>frame</key><string>{{562,347},{157,45}}</string>
		<key>offset</key><string>{1,-1}</string>
		<key>sourceSize</key><string>{159,46}</string>
	</dict>
	<key>menu03</keys>
	<dict>
		<key>frame</key><string>{{293,239},{83,39}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{83,39}</string>
	</dict>
	<key>menu04</keys>
	<dict>
		<key>frame</key><string>{{0,605},{142,45}}</string>
		<key>offset</key><string>{1,0}</string>
		<key>sourceSize</key><string>{143,45}</string>
	</dict>
	<key>nameInput_title</keys>
	<dict>
		<key>frame</key><string>{{373,293},{35,13}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{35,13}</string>
	</dict>
	<key>news_btn</keys>
	<dict>
		<key>frame</key><string>{{726,173},{37,40}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{37,40}</string>
	</dict>
	<key>no_btn1</keys>
	<dict>
		<key>frame</key><string>{{411,476},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
	<key>no_btn2</keys>
	<dict>
		<key>frame</key><string>{{477,476},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
	<key>notice_bg</keys>
	<dict>
		<key>frame</key><string>{{410,326},{202,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{202,16}</string>
	</dict>
	<key>notice_mask</keys>
	<dict>
		<key>frame</key><string>{{179,431},{170,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{170,16}</string>
	</dict>
	<key>pause_title</keys>
	<dict>
		<key>frame</key><string>{{726,152},{46,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{46,19}</string>
	</dict>
	<key>pwInput_title</keys>
	<dict>
		<key>frame</key><string>{{378,255},{23,14}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{23,14}</string>
	</dict>
	<key>ranking_btn</keys>
	<dict>
		<key>frame</key><string>{{293,301},{71,62}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{71,62}</string>
	</dict>
	<key>record_title</keys>
	<dict>
		<key>frame</key><string>{{477,510},{56,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{56,19}</string>
	</dict>
	<key>refresh_btn</keys>
	<dict>
		<key>frame</key><string>{{378,271},{20,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{20,20}</string>
	</dict>
	<key>result_title</keys>
	<dict>
		<key>frame</key><string>{{726,80},{52,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{52,19}</string>
	</dict>
	<key>staff_title</keys>
	<dict>
		<key>frame</key><string>{{366,308},{42,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{42,19}</string>
	</dict>
	<key>startmenu_title</keys>
	<dict>
		<key>frame</key><string>{{293,280},{78,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{78,19}</string>
	</dict>
	<key>surrender_text</keys>
	<dict>
		<key>frame</key><string>{{179,399},{170,30}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{170,30}</string>
	</dict>
	<key>userInput_title</keys>
	<dict>
		<key>frame</key><string>{{378,239},{33,14}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{33,14}</string>
	</dict>
	<key>yes_btn1</keys>
	<dict>
		<key>frame</key><string>{{345,510},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
	<key>yes_btn2</keys>
	<dict>
		<key>frame</key><string>{{411,510},{64,32}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{64,32}</string>
	</dict>
</dict>
<key>metadata</key>
<dict>
    <key>format</key>
    <integer>2</integer>
    <key>size</key>
    <string>{1024,1024}</string>
    <key>textureFileName</key>
    <string>Menu.png</string>
</dict>
</dict>
</plist>