<!--
	Sprite sheet data for Naruto Senki - V2.

	https://game.naruto.re
-->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
	<key>Asuma_full</keys>
	<dict>
		<key>frame</key><string>{{665,690},{210,228}}</string>
		<key>offset</key><string>{-11,0}</string>
		<key>sourceSize</key><string>{232,228}</string>
	</dict>
	<key>bonds_mask</keys>
	<dict>
		<key>frame</key><string>{{236,21},{17,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{18,19}</string>
	</dict>
	<key>change_btn</keys>
	<dict>
		<key>frame</key><string>{{1931,129},{74,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{75,21}</string>
	</dict>
	<key>change_btn2</keys>
	<dict>
		<key>frame</key><string>{{1931,152},{72,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{73,19}</string>
	</dict>
	<key>Chiyo_full</keys>
	<dict>
		<key>frame</key><string>{{279,0},{234,229}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,229}</string>
	</dict>
	<key>Choji_full</keys>
	<dict>
		<key>frame</key><string>{{515,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>clipperMask</keys>
	<dict>
		<key>frame</key><string>{{515,2001},{231,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{232,20}</string>
	</dict>
	<key>Deidara_full</keys>
	<dict>
		<key>frame</key><string>{{236,1612},{230,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{231,228}</string>
	</dict>
	<key>detail_bg</keys>
	<dict>
		<key>frame</key><string>{{1931,0},{101,26}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{101,26}</string>
	</dict>
	<key>Gaara_full</keys>
	<dict>
		<key>frame</key><string>{{751,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>gold_bg</keys>
	<dict>
		<key>frame</key><string>{{1931,201},{61,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{62,21}</string>
	</dict>
	<key>golds_1</keys>
	<dict>
		<key>frame</key><string>{{236,0},{19,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{19,19}</string>
	</dict>
	<key>golds_2</keys>
	<dict>
		<key>frame</key><string>{{257,0},{19,19}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{19,19}</string>
	</dict>
	<key>Hidan_full</keys>
	<dict>
		<key>frame</key><string>{{687,920},{206,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{206,228}</string>
	</dict>
	<key>Hinata_full</keys>
	<dict>
		<key>frame</key><string>{{690,1611},{190,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{190,228}</string>
	</dict>
	<key>Hinata_full2</keys>
	<dict>
		<key>frame</key><string>{{987,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Hiruzen_full</keys>
	<dict>
		<key>frame</key><string>{{1223,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>ImmortalSasuke_full</keys>
	<dict>
		<key>frame</key><string>{{1459,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Ino_full</keys>
	<dict>
		<key>frame</key><string>{{468,1612},{220,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{220,228}</string>
	</dict>
	<key>Ino_full2</keys>
	<dict>
		<key>frame</key><string>{{1695,0},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Itachi_full</keys>
	<dict>
		<key>frame</key><string>{{1084,690},{195,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{195,228}</string>
	</dict>
	<key>Jiraiya_full</keys>
	<dict>
		<key>frame</key><string>{{515,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Jugo_full</keys>
	<dict>
		<key>frame</key><string>{{279,231},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Kakashi_full</keys>
	<dict>
		<key>frame</key><string>{{236,1382},{231,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{232,228}</string>
	</dict>
	<key>Kakuzu_full</keys>
	<dict>
		<key>frame</key><string>{{751,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Kankuro_full</keys>
	<dict>
		<key>frame</key><string>{{987,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Karin_full</keys>
	<dict>
		<key>frame</key><string>{{882,1611},{163,227}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{164,227}</string>
	</dict>
	<key>Karin_full2</keys>
	<dict>
		<key>frame</key><string>{{1223,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Kiba_full</keys>
	<dict>
		<key>frame</key><string>{{877,690},{205,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{205,228}</string>
	</dict>
	<key>Kimimaro_full</keys>
	<dict>
		<key>frame</key><string>{{279,1842},{234,204}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,204}</string>
	</dict>
	<key>Kisame_full</keys>
	<dict>
		<key>frame</key><string>{{1459,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Konan_full</keys>
	<dict>
		<key>frame</key><string>{{1047,1611},{187,226}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{188,226}</string>
	</dict>
	<key>Konan_full2</keys>
	<dict>
		<key>frame</key><string>{{896,1150},{144,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{144,228}</string>
	</dict>
	<key>Lee_full</keys>
	<dict>
		<key>frame</key><string>{{470,1152},{214,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{214,228}</string>
	</dict>
	<key>Minato_full</keys>
	<dict>
		<key>frame</key><string>{{472,921},{213,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{213,228}</string>
	</dict>
	<key>Nagato_full</keys>
	<dict>
		<key>frame</key><string>{{469,1382},{215,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{215,228}</string>
	</dict>
	<key>Naruto_full</keys>
	<dict>
		<key>frame</key><string>{{431,691},{232,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{233,228}</string>
	</dict>
	<key>Neji_full</keys>
	<dict>
		<key>frame</key><string>{{1695,230},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Orochimaru_full</keys>
	<dict>
		<key>frame</key><string>{{895,920},{204,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{204,228}</string>
	</dict>
	<key>Pain_full</keys>
	<dict>
		<key>frame</key><string>{{515,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>rank_a</keys>
	<dict>
		<key>frame</key><string>{{1931,224},{60,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{60,16}</string>
	</dict>
	<key>rank_b</keys>
	<dict>
		<key>frame</key><string>{{153,2030},{61,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{61,16}</string>
	</dict>
	<key>rank_c</keys>
	<dict>
		<key>frame</key><string>{{216,2030},{61,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{61,16}</string>
	</dict>
	<key>rank_s</keys>
	<dict>
		<key>frame</key><string>{{1931,242},{59,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{60,16}</string>
	</dict>
	<key>rank_ss</keys>
	<dict>
		<key>frame</key><string>{{81,2030},{70,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{70,16}</string>
	</dict>
	<key>rank_sss</keys>
	<dict>
		<key>frame</key><string>{{0,2030},{79,16}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{79,16}</string>
	</dict>
	<key>return_btn</keys>
	<dict>
		<key>frame</key><string>{{1931,173},{71,26}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{72,26}</string>
	</dict>
	<key>RikudoNaruto_full</keys>
	<dict>
		<key>frame</key><string>{{279,461},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>SageJiraiya_full</keys>
	<dict>
		<key>frame</key><string>{{751,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>SageNaruto_full</keys>
	<dict>
		<key>frame</key><string>{{1042,1150},{233,227}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,227}</string>
	</dict>
	<key>Sai_full</keys>
	<dict>
		<key>frame</key><string>{{882,1381},{190,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{190,228}</string>
	</dict>
	<key>Sakura_full</keys>
	<dict>
		<key>frame</key><string>{{236,691},{193,229}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{193,229}</string>
	</dict>
	<key>Sakura_full2</keys>
	<dict>
		<key>frame</key><string>{{987,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Sasuke_full</keys>
	<dict>
		<key>frame</key><string>{{1223,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Shikamaru_full</keys>
	<dict>
		<key>frame</key><string>{{1074,1379},{233,223}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,223}</string>
	</dict>
	<key>Shino_full</keys>
	<dict>
		<key>frame</key><string>{{1101,920},{233,227}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,227}</string>
	</dict>
	<key>skill_bg1</keys>
	<dict>
		<key>frame</key><string>{{0,0},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_bg2</keys>
	<dict>
		<key>frame</key><string>{{0,254},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_bg3</keys>
	<dict>
		<key>frame</key><string>{{0,508},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_bg4</keys>
	<dict>
		<key>frame</key><string>{{0,762},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_bg5</keys>
	<dict>
		<key>frame</key><string>{{0,1016},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_bg6</keys>
	<dict>
		<key>frame</key><string>{{0,1270},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink1</keys>
	<dict>
		<key>frame</key><string>{{1931,28},{99,99}}</string>
		<key>offset</key><string>{-67,-76}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink2</keys>
	<dict>
		<key>frame</key><string>{{515,1842},{157,157}}</string>
		<key>offset</key><string>{-38,-47}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink3</keys>
	<dict>
		<key>frame</key><string>{{1047,1839},{209,209}}</string>
		<key>offset</key><string>{-12,-21}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink4</keys>
	<dict>
		<key>frame</key><string>{{0,1778},{234,250}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink5</keys>
	<dict>
		<key>frame</key><string>{{674,1842},{143,143}}</string>
		<key>offset</key><string>{46,-55}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_blink6</keys>
	<dict>
		<key>frame</key><string>{{255,21},{1,1}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>skill_frame</keys>
	<dict>
		<key>frame</key><string>{{0,1524},{234,252}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,252}</string>
	</dict>
	<key>Suigetsu_full</keys>
	<dict>
		<key>frame</key><string>{{686,1381},{194,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{194,228}</string>
	</dict>
	<key>Tenten_full</keys>
	<dict>
		<key>frame</key><string>{{1281,690},{188,227}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{188,227}</string>
	</dict>
	<key>Tenten_full2</keys>
	<dict>
		<key>frame</key><string>{{686,1151},{208,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{208,228}</string>
	</dict>
	<key>Tobi_full</keys>
	<dict>
		<key>frame</key><string>{{236,1152},{232,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{233,228}</string>
	</dict>
	<key>Tobirama_full</keys>
	<dict>
		<key>frame</key><string>{{1459,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Tsunade_full</keys>
	<dict>
		<key>frame</key><string>{{1695,460},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
	<key>Tsunade_full2</keys>
	<dict>
		<key>frame</key><string>{{236,922},{234,228}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{234,228}</string>
	</dict>
</dict>
<key>metadata</key>
<dict>
    <key>format</key>
    <integer>2</integer>
    <key>size</key>
    <string>{2048,2048}</string>
    <key>textureFileName</key>
    <string>Record.png</string>
</dict>
</dict>
</plist>