<!--
	Sprite sheet data for Naruto Senki - V2.

	https://game.naruto.re
-->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
	<key>Asuma_rp</keys>
	<dict>
		<key>frame</key><string>{{248,48},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Asuma_rpf</keys>
	<dict>
		<key>frame</key><string>{{390,167},{64,20}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{66,22}</string>
	</dict>
	<key>Chiyo_rp</keys>
	<dict>
		<key>frame</key><string>{{247,84},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Chiyo_rpf</keys>
	<dict>
		<key>frame</key><string>{{190,92},{54,24}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{56,26}</string>
	</dict>
	<key>Choji_rp</keys>
	<dict>
		<key>frame</key><string>{{246,120},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Choji_rpf</keys>
	<dict>
		<key>frame</key><string>{{456,185},{49,24}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{50,26}</string>
	</dict>
	<key>Deidara_rp</keys>
	<dict>
		<key>frame</key><string>{{356,104},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Deidara_rpf</keys>
	<dict>
		<key>frame</key><string>{{81,138},{75,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{76,22}</string>
	</dict>
	<key>destroy</keys>
	<dict>
		<key>frame</key><string>{{0,26},{125,23}}</string>
		<key>offset</key><string>{0,-1}</string>
		<key>sourceSize</key><string>{125,25}</string>
	</dict>
	<key>Domination_rpf</keys>
	<dict>
		<key>frame</key><string>{{146,22},{138,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{138,24}</string>
	</dict>
	<key>DoubleKill_rpf</keys>
	<dict>
		<key>frame</key><string>{{127,48},{119,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{119,20}</string>
	</dict>
	<key>Fukasaku_rp</keys>
	<dict>
		<key>frame</key><string>{{354,140},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Fukasaku_rpf</keys>
	<dict>
		<key>frame</key><string>{{398,73},{108,21}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{108,23}</string>
	</dict>
	<key>Gaara_rp</keys>
	<dict>
		<key>frame</key><string>{{110,184},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Gaara_rpf</keys>
	<dict>
		<key>frame</key><string>{{208,182},{58,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{60,23}</string>
	</dict>
	<key>Godlike_rpf</keys>
	<dict>
		<key>frame</key><string>{{393,96},{101,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{101,20}</string>
	</dict>
	<key>Han_rp</keys>
	<dict>
		<key>frame</key><string>{{146,185},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Han_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,97},{83,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{85,23}</string>
	</dict>
	<key>Hidan_rp</keys>
	<dict>
		<key>frame</key><string>{{0,187},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Hidan_rpf</keys>
	<dict>
		<key>frame</key><string>{{190,70},{55,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{55,22}</string>
	</dict>
	<key>Hinata_rp</keys>
	<dict>
		<key>frame</key><string>{{36,209},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Hinata_rpf</keys>
	<dict>
		<key>frame</key><string>{{451,211},{60,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{61,22}</string>
	</dict>
	<key>Hiruzen_rp</keys>
	<dict>
		<key>frame</key><string>{{0,223},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Hiruzen_rpf</keys>
	<dict>
		<key>frame</key><string>{{283,104},{71,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{71,22}</string>
	</dict>
	<key>HokageMinato_rp</keys>
	<dict>
		<key>frame</key><string>{{72,209},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>HokageMinato_rpf</keys>
	<dict>
		<key>frame</key><string>{{282,149},{63,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{63,22}</string>
	</dict>
	<key>Holyshit_rpf</keys>
	<dict>
		<key>frame</key><string>{{284,78},{107,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{107,24}</string>
	</dict>
	<key>ImmortalSasuke_rp</keys>
	<dict>
		<key>frame</key><string>{{108,220},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>ImmortalSasuke_rpf</keys>
	<dict>
		<key>frame</key><string>{{158,140},{69,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{70,23}</string>
	</dict>
	<key>Ino_rp</keys>
	<dict>
		<key>frame</key><string>{{36,245},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Ino_rpf</keys>
	<dict>
		<key>frame</key><string>{{36,187},{32,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{33,22}</string>
	</dict>
	<key>Itachi_rp</keys>
	<dict>
		<key>frame</key><string>{{0,259},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Itachi_rpf</keys>
	<dict>
		<key>frame</key><string>{{461,118},{51,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{52,22}</string>
	</dict>
	<key>Jiraiya_rp</keys>
	<dict>
		<key>frame</key><string>{{72,245},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Jiraiya_rpf</keys>
	<dict>
		<key>frame</key><string>{{388,189},{61,23}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{63,25}</string>
	</dict>
	<key>Jugo_rp</keys>
	<dict>
		<key>frame</key><string>{{182,205},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Jugo_rpf</keys>
	<dict>
		<key>frame</key><string>{{229,156},{47,24}}</string>
		<key>offset</key><string>{1,-1}</string>
		<key>sourceSize</key><string>{48,25}</string>
	</dict>
	<key>Kakashi_rp</keys>
	<dict>
		<key>frame</key><string>{{144,221},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kakashi_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,143},{73,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{73,22}</string>
	</dict>
	<key>Kakuzu_rp</keys>
	<dict>
		<key>frame</key><string>{{108,256},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kakuzu_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,165},{68,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{69,22}</string>
	</dict>
	<key>Kankuro_rp</keys>
	<dict>
		<key>frame</key><string>{{218,205},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kankuro_rpf</keys>
	<dict>
		<key>frame</key><string>{{168,118},{76,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{77,22}</string>
	</dict>
	<key>Karin_rp</keys>
	<dict>
		<key>frame</key><string>{{254,217},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Karin_rpf</keys>
	<dict>
		<key>frame</key><string>{{461,140},{50,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{50,22}</string>
	</dict>
	<key>Kiba_rp</keys>
	<dict>
		<key>frame</key><string>{{36,281},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kiba_rpf</keys>
	<dict>
		<key>frame</key><string>{{343,176},{43,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{44,22}</string>
	</dict>
	<key>KillingSpree_rpf</keys>
	<dict>
		<key>frame</key><string>{{291,0},{139,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{139,24}</string>
	</dict>
	<key>Kimimaro_rp</keys>
	<dict>
		<key>frame</key><string>{{0,295},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kimimaro_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,74},{86,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{86,22}</string>
	</dict>
	<key>Kisame_rp</keys>
	<dict>
		<key>frame</key><string>{{72,281},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Kisame_rpf</keys>
	<dict>
		<key>frame</key><string>{{75,161},{69,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{69,22}</string>
	</dict>
	<key>Konan_rp</keys>
	<dict>
		<key>frame</key><string>{{180,241},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Konan_rpf</keys>
	<dict>
		<key>frame</key><string>{{146,163},{60,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{60,22}</string>
	</dict>
	<key>Lee_rp</keys>
	<dict>
		<key>frame</key><string>{{144,257},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Lee_rpf</keys>
	<dict>
		<key>frame</key><string>{{432,0},{80,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{81,22}</string>
	</dict>
	<key>Minato_rp</keys>
	<dict>
		<key>frame</key><string>{{108,292},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Minato_rpf</keys>
	<dict>
		<key>frame</key><string>{{282,149},{63,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{63,22}</string>
	</dict>
	<key>MonsterKill_rpf</keys>
	<dict>
		<key>frame</key><string>{{146,0},{143,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{143,20}</string>
	</dict>
	<key>Nagato_rp</keys>
	<dict>
		<key>frame</key><string>{{216,241},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Nagato_rpf</keys>
	<dict>
		<key>frame</key><string>{{392,118},{67,24}}</string>
		<key>offset</key><string>{0,-1}</string>
		<key>sourceSize</key><string>{67,25}</string>
	</dict>
	<key>Naruto_rp</keys>
	<dict>
		<key>frame</key><string>{{36,317},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Naruto_rpf</keys>
	<dict>
		<key>frame</key><string>{{278,172},{63,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{63,22}</string>
	</dict>
	<key>Neji_rp</keys>
	<dict>
		<key>frame</key><string>{{0,331},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Neji_rpf</keys>
	<dict>
		<key>frame</key><string>{{70,184},{38,23}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{39,25}</string>
	</dict>
	<key>Orochimaru_rp</keys>
	<dict>
		<key>frame</key><string>{{72,317},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Orochimaru_rpf</keys>
	<dict>
		<key>frame</key><string>{{408,50},{104,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{106,23}</string>
	</dict>
	<key>Pain_rp</keys>
	<dict>
		<key>frame</key><string>{{357,214},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Pain_rpf</keys>
	<dict>
		<key>frame</key><string>{{268,194},{43,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{44,22}</string>
	</dict>
	<key>Rampage_rpf</keys>
	<dict>
		<key>frame</key><string>{{286,26},{120,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{120,24}</string>
	</dict>
	<key>RikudoNaruto_rp</keys>
	<dict>
		<key>frame</key><string>{{393,214},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>RikudoNaruto_rpf</keys>
	<dict>
		<key>frame</key><string>{{278,172},{63,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{63,22}</string>
	</dict>
	<key>RockLee_rp</keys>
	<dict>
		<key>frame</key><string>{{144,257},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>RockLee_rpf</keys>
	<dict>
		<key>frame</key><string>{{432,0},{80,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{81,22}</string>
	</dict>
	<key>Roshi_rp</keys>
	<dict>
		<key>frame</key><string>{{290,222},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Roshi_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,97},{83,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{85,23}</string>
	</dict>
	<key>SageJiraiya_rp</keys>
	<dict>
		<key>frame</key><string>{{252,253},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>SageJiraiya_rpf</keys>
	<dict>
		<key>frame</key><string>{{388,189},{61,23}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{63,25}</string>
	</dict>
	<key>SageNaruto_rp</keys>
	<dict>
		<key>frame</key><string>{{180,277},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>SageNaruto_rpf</keys>
	<dict>
		<key>frame</key><string>{{278,172},{63,20}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{63,22}</string>
	</dict>
	<key>Sai_rp</keys>
	<dict>
		<key>frame</key><string>{{144,293},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Sai_rpf</keys>
	<dict>
		<key>frame</key><string>{{252,289},{33,21}}</string>
		<key>offset</key><string>{0,1}</string>
		<key>sourceSize</key><string>{34,23}</string>
	</dict>
	<key>Sakura_rp</keys>
	<dict>
		<key>frame</key><string>{{108,328},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Sakura_rpf</keys>
	<dict>
		<key>frame</key><string>{{390,144},{65,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{67,23}</string>
	</dict>
	<key>Sasuke_rp</keys>
	<dict>
		<key>frame</key><string>{{216,277},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Sasuke_rpf</keys>
	<dict>
		<key>frame</key><string>{{158,140},{69,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{70,23}</string>
	</dict>
	<key>Shikamaru_rp</keys>
	<dict>
		<key>frame</key><string>{{36,353},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Shikamaru_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,51},{96,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{97,23}</string>
	</dict>
	<key>Shino_rp</keys>
	<dict>
		<key>frame</key><string>{{0,367},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Shino_rpf</keys>
	<dict>
		<key>frame</key><string>{{457,162},{54,21}}</string>
		<key>offset</key><string>{1,1}</string>
		<key>sourceSize</key><string>{56,23}</string>
	</dict>
	<key>skull</keys>
	<dict>
		<key>frame</key><string>{{127,26},{12,12}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{12,12}</string>
	</dict>
	<key>slain</keys>
	<dict>
		<key>frame</key><string>{{85,116},{81,20}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{83,20}</string>
	</dict>
	<key>Suigetsu_rp</keys>
	<dict>
		<key>frame</key><string>{{72,353},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Suigetsu_rpf</keys>
	<dict>
		<key>frame</key><string>{{432,23},{79,25}}</string>
		<key>offset</key><string>{1,-1}</string>
		<key>sourceSize</key><string>{81,26}</string>
	</dict>
	<key>Tenten_rp</keys>
	<dict>
		<key>frame</key><string>{{429,233},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Tenten_rpf</keys>
	<dict>
		<key>frame</key><string>{{282,126},{70,21}}</string>
		<key>offset</key><string>{1,0}</string>
		<key>sourceSize</key><string>{72,22}</string>
	</dict>
	<key>Tobi_rp</keys>
	<dict>
		<key>frame</key><string>{{465,233},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Tobi_rpf</keys>
	<dict>
		<key>frame</key><string>{{313,199},{42,21}}</string>
		<key>offset</key><string>{1,0}</string>
		<key>sourceSize</key><string>{44,22}</string>
	</dict>
	<key>Tobirama_rp</keys>
	<dict>
		<key>frame</key><string>{{326,250},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Tobirama_rpf</keys>
	<dict>
		<key>frame</key><string>{{88,93},{85,21}}</string>
		<key>offset</key><string>{1,0}</string>
		<key>sourceSize</key><string>{87,22}</string>
	</dict>
	<key>Tower_rpf</keys>
	<dict>
		<key>frame</key><string>{{98,70},{90,21}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{93,32}</string>
	</dict>
	<key>TripeKill_rpf</keys>
	<dict>
		<key>frame</key><string>{{284,52},{112,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{112,24}</string>
	</dict>
	<key>Tsunade_rp</keys>
	<dict>
		<key>frame</key><string>{{288,258},{34,34}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{34,34}</string>
	</dict>
	<key>Tsunade_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,120},{79,21}}</string>
		<key>offset</key><string>{1,0}</string>
		<key>sourceSize</key><string>{81,22}</string>
	</dict>
	<key>Unstoppable_rpf</keys>
	<dict>
		<key>frame</key><string>{{0,0},{144,24}}</string>
		<key>offset</key><string>{0,0}</string>
		<key>sourceSize</key><string>{144,24}</string>
	</dict>
</dict>
<key>metadata</key>
<dict>
    <key>format</key>
    <integer>2</integer>
    <key>size</key>
    <string>{512,512}</string>
    <key>textureFileName</key>
    <string>Report.png</string>
</dict>
</dict>
</plist>
